<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>
        var token = '';
    </script>
</head>
<body>
<h1>Sign in</h1>
<form
        onsubmit="
    var payload = {
        method: 'post',
        headers: {
            'Content-type': 'application/json'
        },
        body: JSON.stringify({
          username: `${this.username.value}`,
          password: `${this.password.value}`,
          code: `${this.code.value}`
        })
    };
    fetch('/api/v1/user/login', payload).then(resp => resp.text()).then(t => token = t);
    return false;
"
>
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="text" name="code">
    <input type="submit" value="Sign in">
</form>

<input type="button" value="controller" onclick="
fetch(
    '/admin',
    {
        headers: {
            'Authorization': `Bearer ${token}`
        }
    }
).then(resp => resp.json()).then(console.log)
">

<hr>

<h1>Sign up</h1>
<form
        onsubmit="
    var payload = {
        method: 'post',
        headers: {
            'Content-type': 'application/json'
        },
        body: JSON.stringify({
          username: `${this.username.value}`,
          password: `${this.password.value}`,
          role: `${this.role.value}`,
          multiFactorAuthentication: `${this.multiFactorAuthentication.value === 'on'}`
        })
    };
    fetch('/api/v1/user/register', payload)
        .then(resp => resp.text())
        .then(data => document.getElementById('qr-code')
                              .setAttribute('src', JSON.parse(data)['secretImageUri'])
        );

    return false;
"
>
    <input placeholder="username" type="text" name="username">
    <input placeholder="password" type="password" name="password">
    <input placeholder="role" type="text" name="role">
    <input placeholder="multiFactorAuthentication" type="checkbox" name="multiFactorAuthentication">
    <input type="submit" value="Register">
</form>

<img id="qr-code" src=""/>

</body>
</html>